:root {
    --bg-light: #616237;
}

.mode-particles {
    background-color: #616237;
}

.mode-banner {
    background-color: #616237;
}

.main {
    background-color: #616237;
    box-shadow: -30px 0 30px -30px rgba(0, 0, 0, 0.8), 30px 0 30px -30px rgba(0, 0, 0, 0.8);
}

.modal-body {
    background-color: var(--bg-light);
}
