:root {
    --main-color: #d16219;
    --orange-text: #e27e33;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    color: rgba(255, 255,  255, 0.75)
}

img {
    pointer-events: none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

strong {
    color: var(--orange-text);
}

h1,
h2,
h3 {
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.page-divider {
    border-top: solid 2px rgba(84, 69, 101, 0.18);
}

.banner-div {
    width: 100%;
    min-width: 576px;
    overflow: hidden;
    position: fixed;
}

.banner {
    width: 100%;
    height: 11rem;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

.banner-row {
    height: 100%;
}

.centered-logo {
    height: 100%;
}

.logo {
    margin-top: 1%;
    margin-left: 2%;
    height: 100%;
    padding: 0.5%;
    padding-bottom: 1.5%;
}

.nav-border {
    border-top: solid 5px var(--main-color);
}

.div-particles {
    position: fixed;
    width: 100%;
    z-index: -1;
}

.middle {
    height: auto;
    min-height: 82vh;
    min-width: 576px;
    padding: 0px 0px;
}

.main {
    height: auto;
    left: 50%;
}

.main-content {
    scroll-margin-top: 239px;
    min-height: 80.5vh;
    height: auto;
}

.footer {
    white-space: nowrap;
    height: auto;
    color: rgba(255, 255, 255, 0.6);
    font-size: 11.5pt;
}

.footer-border {
    border-top: solid 5px var(--main-color);
}

.footer a:not([href^='mailto:']) {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}

.footer-info {
    font-size: 8pt;
    cursor: default;
}

.footer a:hover {
    color: rgba(0, 0, 0, 0.9);
}

.section-name {
    color: var(--orange-text);
    font-size: 33pt;
    line-height: 50px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

.article {
    width: 85%;
}

.article-header {
    color: var(--orange-text);
    font-weight: 600;
    margin-top: 1%;
}

.article-content {
    cursor: default;
}

.article-text {
    padding: 20px;
}

.hr-section {
    width: 75%;
    color: #888;
    margin-left: 12.5% !important;
    margin-right: 12.5% !important;
}

.hr-events {
    width: 50%;
    color: rgba(0, 0, 0, 0.3);
    margin-left: 25% !important;
    margin-right: 25% !important;
}

.disable-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


@media screen and (orientation: landscape) and (max-width: 940px) {
    .banner {
        height: 4%;
    }

    .centered-logo {
        height: 25vh;
    }
}
